[submodule "core2"]
	path = core2
	url = git@git.sbis.ru:integration/vo2_core.git
	branch = rc-26.3100
[submodule "IntegrationBlockly"]
	path = IntegrationBlockly
	url = git@git.sbis.ru:integration/blockly_saby_blocks_1c
	branch = rc-26.3100
[submodule "BlocklyExecutor"]
	path = BlocklyExecutor
	url = git@git.sbis.ru:integration/blockly_executor_1c
	branch = rc-26.3100
[submodule "core"]
	path = core
	url = git@git.sbis.ru:integration/vo3_core.git
	branch = rc-26.3100
[submodule "etrn"]
	path = etrn
	url = git@git.sbis.ru:integration/ce_etrn.git
	branch = rc-26.3100
[submodule "edo"]
	path = edo
	url = git@git.sbis.ru:integration/ce_1c_edo.git
	branch = rc-26.3100